name: Update Banners

on:
  schedule:
    - cron: '1 2,3 * * 2,3'   # Start banners: At 02:01 and 03:01 on Tuesday and Wednesday
    - cron: '1 12,17 * * 2,3' # 2nd Half Banners: At 12:01 and 17:01 on Tuesday and Wednesday
    - cron: '1 */23 * * *'    # Every 23 hours at 01 minute past the hour in case of missed runs
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.14'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run main.py and check for changes
      run: |
        python main.py
        git config --global user.name "GitHub Actions"
        git config --global user.email "noreply@github-action.com"
        git add -A
        if [ -n "$(git status --porcelain)" ]; then git commit -am "Update banner data"; git push; fi
